pkgbase = gnome-your-wm
	pkgdesc = Use GNOME services with your choice of window manager.
	pkgver = 0.1
	pkgrel = 1
	epoch = 1
	url = https://github.com/thetarkus/gnome-your-wm
	arch = any
	groups = gnome
	license = MIT
	depends = make
	depends = gnome-flashback
	depends = gnome-screensaver
	depends = polkit-gnome
	source = gnome-your-wm-0.1.tar.gz::https://github.com/thetarkus/gnome-your-wm/archive/0.1.tar.gz
	md5sums = 268d63be91e682bab892057f8065144e

pkgname = gnome-your-wm

